* {
  box-sizing: border-box;
}

/* ------------------------------- VARIABLES ------------------------------------------ */

:root {
  --bg-four: rgba(0, 0, 0, 0.4);
}

body {
  margin: 0;
  background: linear-gradient(
    270deg,
    rgba(1, 255, 240, 1) 52%,
    rgba(29, 214, 245, 1) 100%
  );
}

/* ---------------------------------- APP --------------------------------------------- */

.app-layout {
  display: flex;
  flex-direction: column; 
}

.app-row {
  display: flex;
}

.pokemon-side {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pokemon-items {
  display: flex;
}

/* ----------------------------------- HEADER ------------------------------------------- */

.nav-bar-top {
  display: flex;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.6);
  width: 60%;
  align-items: center;
  padding: 0.45em 0;
  margin: 0;
  color: #a7a6a6;
  font-size: 1.5rem;
}

.x-button {
  border-radius: 50%;
  background-color: white;
  padding: 0.25em;
  margin: 0 1em;
  color: black;
  font-size: 0.9rem;
}

.x-border-right {
  border-right: 2px solid rgb(180, 178, 178);
}

.nav-party {
  margin-left: 0.6em;
}

.nav-held,
.nav-battle {
  margin-left: 2em;
}

/* ---------------------------------- PARTY --------------------------------------- */

.party {
  margin: 2em 0 0 1em;
  width: 20%;
  color: white;
}

.party-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-four);
  padding: 0.25em 1em 0.25em 0.5em;
  border-radius: 15px;
}

.party-pokeball {
  border-right: 2px solid rgb(180, 178, 178);
  padding-right: 0.5em;
}

/* ---------------------------------- PARTY ITEM -------------------------------- */

.party-component {
  margin-top: 0.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-four);
  border-radius: 5px;
  width: 100%;
}

.poke-level {
  
  border-radius: 15px;
  padding: 0.25em 0.5em;
  background-color: rgba(0, 0, 0, 0.5);
}

.party-poke-image {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  padding: 1em 0.5em 0;
}

/* ----------------------------------- BOXES COMPONENT ------------------------------ */

.boxes {
  margin: 0 auto;
}

.boxes-header {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;  
}

.left-trigger, .right-trigger {
  border: 2px solid black;
  padding: 0.5em 1em;
  background-color: lightgray;
  font-size: 1.25rem;
}

.box-grid {
  display: grid;
  grid-template-columns: repeat(6, 80px);
  grid-template-rows: repeat(5, 80px);
  justify-content: center;
}

.box-info {
  display: flex;
  background-color: var(--bg-four);
  width: 40%;
  margin: 0 1em;
  padding: .5em 0;
}

.cube-icon {
  margin-right: 1em;
  padding: 0 1em;
  border-right: 2px solid rgb(180, 178, 178);
}

.cube-icon > img {
  width: 30px;
}

.box-number {
  font-size: 1.25rem;
  display: flex;
  margin: auto;
  align-items: center;
}

.pokemon-grid {
  margin: 2em auto 0;
  width: 100%;
}

/* ------------------------------ BOX ITEM ----------------------------------------- */

.box-item {
  background-color: var(--bg-four);
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  padding: 1em 0.5em 0;
}

.box-item-image {
  width: 70%;
}

/* ----------------------------- SEARCH INPUTS --------------------------------- */

.search-inputs {
  display: flex;
  width: 70%;
  margin: 2em auto 1em;
  justify-content: space-between;
  color: white;
}

.all-boxes, .search {
  padding: .25em 0;
}

.all-boxes {
  display: flex;
  background-color: var(--bg-four);
  width: 40%;
  font-size: 1.5rem;
  align-items: center;
}

.boxes-icon {
  display: flex;
  border-right: 2px solid grey;
  padding: .25em 1em;
}

.boxes-icon > img {
  width: 30px;
  align-self: center;
}

.all-boxes > p {
  margin: auto;
}

.search {
  display: flex;
  background-color: var(--bg-four);
  width: 40%;
  font-size: 1.5rem;
}

.magnifying-glass {
  display: flex;
  border-right: 2px solid grey;
  padding: .25em 1em;
}

.magnifying-glass > img {
  width: 30px;
  align-self: center;
}

.search > p {
  margin: auto;
}

/* -------------------------------- STATS COMPONENT -------------------------------- */

.stats-side {
  width: 50%;
}

.stats {
  color: white;
  width: 100%;
  background-color: var(--bg-four);
  height: 100%;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

.stats-header {
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

.ultra-ball {
  width: 30px;
  height: 30px;
  margin: auto 0.5em auto 1.5em;
}

.ball-h2 {
  display: flex;
  color: black;
}

.level-gender {
  display: flex;
}

.gender-icon {
  width: 25px;
  margin: 0 1.5em 0 0.5em;
}

.poke-number {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  height: 8%;
}

.poke-number h3 {
  margin: 0;
  padding: .5em 0;
}

.index-number {
  margin: 0 1em;
}

.revive {
  width: 30px;
  height: 30px;
  margin-right: 1em;
  margin-left: auto;
}

.type-header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5em 1em;
}

.type {
  display: flex;
  width: 35%;
  padding: 0.25em 1em;
  border-radius: 15px;
  background-color: red;
  font-size: 1.25rem;
  text-shadow: -1px 1px 10px black;
  letter-spacing: 1px;
  font-weight: bold;
}

.type-icon {
  width: 20px;
  margin-right: 0.5em;
}

.type-name {
  margin: 0 auto;
}

.base-stats {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  justify-content: center;
  height: 40%;
}

.hp,
.attack-stats,
.defense-stats,
.speed {
  display: flex;
  justify-content: space-between;
}

.special-attack,
.special-defense {
  flex-direction: column;
  margin-left: 5em;
}

.attack,
.defense {
  margin-right: 5em;
}

.hp,
.speed {
  justify-content: center;
}

.ability, .held-item {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  padding: .25em 0;
  font-size: 1.25rem;
}

.ability-title, .held-item-title {
  margin: 0 0.5em 0 0.5em;
  border-right: 1px solid grey;
  width: 100px;
}

.held-item{
  background-color: transparent;
}

.move-list {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  padding: .25em 0 .25em .5em;
}

.move {
  display: flex;
  margin-bottom: .5em;
}

.move-icon {
  width: 15px;
  margin-right: .5em;
  padding: 5px;
  box-sizing: content-box;
}

.all-shapes {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  padding: 0.25em 0;
  background-color: transparent;
}

.shape {
  width: 25px;
}

/* -------------------------------- FOOTER --------------------------------------- */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.footer-options {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.footer-options div {
  display: flex;
  align-items: center;
}

.footer-options p {
  background-color: white;
  border-radius: 50%;
  padding: .25em;
  margin-right: .5em;
}

.footer-options div div {
  color: white;
}